<div class="purchase-popup">
  <h2>Make a buy offer</h2>
  <form id="make_buy_offer_form">
    <label>Stock: </label>
    <label class="stock-name">{{stock.symbol}}</label>
    <input name="symbol" type="text" value="{{stock.symbol}}" hidden="true">
    <label for="amount">Amount:</label>
    <input name="amount" type="number" min="1" value="1">
    <label for="price">Price:</label>
    <input name="price" type="number" min="0.0" value="{{stock.bid}}" step="0.1" />
    <button ng-click="sendBuyOffer($event)" class="btn btn-click btn-success">Confirm</button>
  </form>
  <div class="alert alert-warning collapse" id="buy-offer-warning">
  </div>
  <button ng-click="cancelBuyOffer($event)" class="btn btn-click btn-danger">Cancel</button>
</div>
