<div class="purchase-popup">
  <h2>Make a sell offer</h2>
  <form id="make_sell_offer_form">
    <label>Stock: </label>
    <label class="stock-name">{{stockPage.currentStock.symbol}}</label>
    <input name="symbol" type="text" value="{{stockPage.currentStock.symbol}}" hidden="true">
    <label for="amount">Amount:</label>
    <input name="amount" type="number" max="{{stockPage.currentStock.volume}}" min="1" value="{{stockPage.currentStock.volume}}">
    <label for="price">Price:</label>
    <input name="price" type="number" min="0.0" value="{{stockPage.currentStock.sell}}" step="0.1" />
    <button ng-click="stockPage.sendSellOffer($event)" class="btn btn-click btn-success">Confirm</button>
  </form>
  <div class="alert alert-warning collapse" id="sell-offer-warning">
  </div>
  <button ng-click="stockPage.cancelSellOffer($event)" class="btn btn-click btn-danger">Cancel</button>
</div>
