<div class="container">
  <div class="col-sm-9 col-md-10 pt-3 main-container">
    <div class="row stocks-title">
      <h2>My stocks</h2>
    </div>
    <div class="row stocks">
      <table class="main-table">
        <tr>
          <td>Name</td>
          <td>Sell price</td>
          <td>Buy price</td>
          <td>Amount owned</td>
          <td></td>
        </tr>
        <tr ng-repeat="stock in stockPage.current_user_stocks track by stock.symbol" class='clickable-row' data-href='/#!/stock/{{stock.symbol}}'>
          <td>{{stock.symbol}}</td>
          <td>{{stock.buy}}€</td>
          <td>{{stock.sell}}€</td>
          <td>{{stock.volume}}</td>
          <td><a href="{{stock.symbol}}" ng-click="stockPage.makeSellOffer($event)">Sell</a></td>
        </tr>
      </table>
    </div>
  </div>
  <div id="page-mask">
  </div>
  <ng-include ng-show="stockPage.selling" src="'/public/make_sell_offer.html'">
  </ng-include>
</div>
