<div class="purchase-popup">
  <h2>Sell your stocks</h2>
  <form id="sell_form" method="post" target="/sell_stock">
    <label>Stock: </label>
    <label class="stock-name">{{symbol}}</label>
    <input name="symbol" type="text" value="{{symbol}}" hidden="true">
    <label for="amount">Amount:</label>
    <input name="amount" type="number" max="{{currentOffer.volume}}" min ="1" value="{{currentOffer.volume}}">
    <label for="amount">Price: {{currentOffer.price}}€</label>
    <button ng-click="sellStock($event)" class="btn btn-click btn-success" ng-show="localStorageService.get('currentUser')">Confirm</button>
  </form>
  <button ng-click="cancelSelling($event)" class="btn btn-click btn-danger">Cancel</button>
</div>
