<div class="container" ng-controller="stockPageController as stock">
  <div class="col-sm-12 col-md-12 pt-3 main-container stock-info-page">
    <div class="row">
      <div class="col-sm-4">
        <table class="stock-info">
          <tr>
            <td>Stock:</td>
            <td><h2>{{stock.symbol}}</h2></td>
          </tr>
          <tr>
            <td>Current value:</td>
            <td><h3>{{stock.last}}€</h3></td>
          </tr>
          <tr>
            <td>Buy price:</td>
            <td><h3>{{stock.ask}}€</h3></td>
          </tr>
          <tr>
            <td>Sell price:</td>
            <td><h3>{{stock.bid}}€</h3></td>
          </tr>
          <tr>
            <td>Volume:</td>
            <td><h3>{{stock.volume}}</h3></td>
          </tr>
        </table>
      </div>
      <div class="stock-open-offers col-sm-4">
        <h3>Buying</h3>
        <table class="buy-offers">
          <tr ng-repeat="offer in buy_offers" class="clickable-row" ng-click="sellingStock($event)">
            <td>Price: {{offer.price}}€</td>
            <td>Volume: {{offer.volume}}</td>
            <td><a class="btn btn-outline-danger" ng-show="localStorageService.get(port  + '.currentUser') == offer.user_id" ng-click="cancelYourOffer($event)" href="{{offer.offer_id}}">Delete</a></td>
          </tr>
        </table>
        <button ng-click="makeBuyOffer($event)" class="btn btn-click btn-outline-primary" ng-show="localStorageService.get(port  + '.currentUser')">Make a buy offer</button>
        <p ng-show="!localStorageService.get(port  + '.currentUser')">Buy stocks by logging in</p>
      </div>
      <div class="stock-open-offers col-sm-4">
        <h3>Selling</h3>
        <table class="sell-offers">
          <tr ng-repeat="offer in sell_offers" class="clickable-row" ng-click="buyingStock($event)">
            <td>Price: {{offer.price}}€</td>
            <td>Volume: {{offer.volume}}</td>
            <td><a class="btn btn-outline-danger" ng-show="localStorageService.get(port + '.currentUser') == offer.user_id" ng-click="cancelYourOffer($event)" href="{{offer.offer_id}}">Delete</a></td>
          </tr>
        </table>
        <a href="/#!/my_stocks" class="btn btn-click btn-outline-primary" ng-show="localStorageService.get(port  + '.currentUser')">Sell your stocks</a>
        <p ng-show="!localStorageService.get(port  + '.currentUser')">Sell stocks by logging in</p>
      </div>
    </div>
  </div>
  <ng-include ng-show="buying" src="'/public/buy_stocks.html'">
  </ng-include>
  <ng-include ng-show="selling" src="'/public/sell_stocks.html'">
  </ng-include>
  <ng-include ng-show="makingBuyOffer" src="'/public/make_buy_offer.html'">
  </ng-include>
</div>
